{{#each this}}
  <li>
    <img src='{{webformatURL}}' alt='{{tags}}' />
    <h2></h2>
    <p>Likes: {{likes}}</p>
    <p>Views: {{views}}</p>
    <p>Comments: {{comments}}</p>
    <p>Downloads: {{downloads}}</p>
  </li>
{{/each}}